<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyan.goods.dao.ext.CategoryExtMapper">

    <select id="getMaxSortNumberByParentId" resultType="int">
        SELECT
            IFNULL(max( sort_number ),0)
        FROM
            tb_category
        WHERE
            parent_id = #{parentId, jdbcType=BIGINT}
    </select>

    <select id="getMaxSortNumberWebByParentId" resultType="int">
        SELECT
            IFNULL(max( sort_number_web ),0)
        FROM
            tb_category
        WHERE
            parent_id = #{parentId, jdbcType=BIGINT}
    </select>


</mapper>